/.gitcode/ @zjdd
/cangjie-language-server/ @TimZhou
/cjcov/ @zjdd
/cjfmt/ @jyf219
/cjhead/ @huster_zwy
/cjlint/ @jyf219
/cjpm/ @jyf219
/cjtrace-recover/ @zixuanzixuan
/gifures/ @zjdd
/hyperlangExtension/ @gaoxiang999
/third_party/ @zjdd
