/.gitcode/ @jyf219
/cangjie-language-server/ @TimZhou
/cjcov/ @jyf219
/cjfmt/ @jyf219
/cjhead/ @huster_zwy
/cjlint/ @jyf219
/cjpm/ @jyf219
/cjtrace-recover/ zixuanzixuan
/gifures/ @jyf219
/hyperlangExtension/ @gaoxiang999
/third_party/ @jyf219
