/.gitcode/ @jyf219
/cangjie-language-server/ @TimZhou
/cjcov/ @jyf219
/cjfmt/ @zxudong
/cjhead/ @huster_zwy
/cjlint/ @zxudong
/cjpm/ @jyf219
/cjprof/ @jyf219
/cjtrace-recover/ @zixuanzixuan
/figures/ @jyf219
/hyperlangExtension/ @gaoxiang999
/third_party/ @jyf219
